{% extends "base.html.twig" %}

{% block main %}
	<div class="main-wrapper">
		{% include 'include/_main-navbar.html.twig' %}
		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<div class="bg-image-40vh"></div>
		<main>
			{% block body %}{% endblock %}
		</main>
		{% include 'include/_main-footer.html.twig' %}
	</div>
{% endblock %}
